# Misc
.DS_Store
.idea/
.packages
.pub-cache/
.pub/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.pub/

# Build outputs
build/
**/build/

# iOS
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.generated/
Generated.xcconfig
*.xcworkspace
DerivedData/

# Android
android/.gradle/
android/local.properties
android/.idea/
*.iml
gradle-wrapper.jar
.gradle/

# Web
lib/generated_plugin_registrant.dart

# VS Code
.vscode/

# IntelliJ
*.iml

# macOS
macos/Flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/
